<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.overlaycamera">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OverlayCamera">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangeOrRemoveActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ViewPagerActivity">
        </activity>
        <activity android:name=".AllImageActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".BrightnessActivity3" />
        <activity android:name=".ImagePreview3" />
        <activity android:name=".BrightnessActivity2" />
        <activity android:name=".ImagePreview2" />
        <activity android:name=".TestActivity" />
        <activity android:name=".BrightnessActivity1" />
        <activity android:name=".ImagePreview1" />
        <activity android:name=".CameraSide1" />
        <activity android:name=".CameraSide3" />
        <activity android:name=".CameraSide2" />
        <activity android:name=".DisplayImageActivity" />
        <activity android:name=".SetHeight" />
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>